@font-face {
  font-family: Wisdom;
  src: url('../fonts/WisdomScript-Regular.otf') format('opentype');
}

/***** BASE STYLES *****/

body {
  font-family: 'Montserrat';
  color: #000000;
}

main {
  padding-left: 1%;
  padding-right: 1%;
}

/***** GRID *****/

.full-width {
    width: 100%;
}
.half-width {
    float: left;
    width: 50%;
}
.third-width {
    float: left;
    padding: 20px 0px 20px 0px;
    width: 30%;
}

/***** HEADER *****/

header {
  padding-top: 1%;
  width: 100%;
  }

header h1 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 0px 0px 15px 15px;
  text-transform: uppercase;
  width: 50%;
  }

nav {
  float: right;
  padding-top: 14px;
}

nav {
  list-style-type: none;
  margin:0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight:600;
  padding-left: 18px;
  color: #77a466;
  text-decoration: none;
}

span.title {
  color: #77a466;

}

/***** CONTENT *****/

#welcome img {
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
  width: 100%;
}

#welcome h2 {
  color: #77a466;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:left;
  text-transform: uppercase;
}

#welcome p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  text-align:left;
}

#specials h4, #reviews h4, #contact h4 {
  color: #000000;
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

#specials {
  border-top: 1px solid #dedbdc;
  text-align:left;
  padding: 20px 25px 30px 0px;
}

#specials a {
  color: #77a466;
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  line-height: 250%;
  text-align: left;
  text-decoration: none;
}

#reviews {
  border-left: .1px solid #dedbdc;
  border-right: .1px solid #dedbdc;
  border-top: .1px solid #dedbdc;
  padding: 20px 25px 20px 25px;
}

#reviews p {
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
}

#contact {
  border-top: .1px solid #dedbdc;
  padding: 20px 0px 44px 25px;
}

#contact p {
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  line-height: 150%;
}

footer {
	border-top: 1px solid #eee;
  clear: both;
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
}

footer span {
  color: #77a466;
  font-family:Wisdom;
  font-size: 16px;
  text-transform: lowercase;
}
